<div class="land-page intro-component-animation">

  <header class="container">
    <h1><b>Marketplace</b></h1>
    <p>Welcome to the virtual world’s one-stop-shop for the top rated digital attractions.</p>
    <button mat-button>LANDS</button>
    <div class="line"></div>
  </header>

  <div class="list-container">
    <div class="container">

      <div class="left">
        <app-categories-list [data]="listCategory"></app-categories-list>
      </div>

      <div class="right">
        <div class="row-filters">
          <div class="search">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search..." class="btn" />
          </div>

          <button mat-flat-button class="animated" [matMenuTriggerFor]="sortByMenu" class="btn btn-sort">
            <span *ngIf="sortBy == 0">NEWEST</span>
            <span *ngIf="sortBy == 1">LISTED</span>
            <span *ngIf="sortBy == 2">SOLD</span>
            <span *ngIf="sortBy == 3">NAME</span>
            <span *ngIf="sortBy == 4">CHEAPEST</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>

          <mat-checkbox class="btn">ON SALE</mat-checkbox>

          <button mat-icon-button class="btn btn-map" (click)="isMapActive = true;"><mat-icon>map</mat-icon></button>

          <button mat-icon-button class="btn btn-filters" (click)="isFiltersActive = true;"><mat-icon>tune</mat-icon></button>
        </div>

        <div class="layout-items" @componentAnimation>
          <app-loading *ngIf="isLoading"></app-loading>

          <ng-container *ngIf="!isLoading">
            <div class="item" *ngFor="let item of items.slice(0,itemSlice)">
              <app-item-card [item]="item"></app-item-card>
            </div>
          </ng-container>

          <div *ngIf="!isLoading && items.length > itemSlice" style="text-align: center; width: 100%;">
            <button mat-flat-button color="primary" (click)="loadMoreItems()">LOAD MORE</button>
          </div>

          <div *ngIf="!isLoading && items.length <= 0" class="empty-screen">
            <p>No results</p>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

<div class="filters-mobile" [ngClass]="{'filters-mobile-active': isFiltersActive}">

  <div class="background" (click)="isFiltersActive = false;"></div>

  <div class="content">
    <h4><b>FILTERS</b></h4>

    <span class="breakpoint-md">
      <div class="overline">SORT BY</div>
      <button mat-flat-button class="animated" [matMenuTriggerFor]="sortByMenu" class="btn btn-sort">
        <span *ngIf="sortBy == 0">NEWEST</span>
        <span *ngIf="sortBy == 1">LISTED</span>
        <span *ngIf="sortBy == 2">SOLD</span>
        <span *ngIf="sortBy == 3">NAME</span>
        <span *ngIf="sortBy == 4">CHEAPEST</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <div class="overline">ON SALE</div>
      <mat-slide-toggle color="accent"></mat-slide-toggle>
    </span>

    <div class="overline">CATEGORIES</div>
    <app-categories-list></app-categories-list>
  </div>
  <button mat-flat-button color="primary" class="btn-results" (click)="isFiltersActive = false;">SEE RESULTS</button>
</div>

<div *ngIf="isMapActive" class="map-container" @leaveComponentBlur>

  <!-- Embed Map Here -->
  <img src="/assets/img/map-preview.png" class="map" alt="" />

  <div class="row-filters">
    <mat-checkbox class="btn">ON SALE</mat-checkbox>
    <button mat-icon-button class="btn-close" matTooltip="Close Map View" (click)="isMapActive = false;"><mat-icon>close</mat-icon></button>
  </div>

</div>

<mat-menu #sortByMenu="matMenu">
  <button mat-menu-item (click)="sortBy = 0">RECENTLY NEWEST</button>
  <button mat-menu-item (click)="sortBy = 1">RECENTLY LISTED</button>
  <button mat-menu-item (click)="sortBy = 2">RECENTLY SOLD</button>
  <button mat-menu-item (click)="sortBy = 3">NAME</button>
  <button mat-menu-item (click)="sortBy = 4">CHEAPEST</button>
</mat-menu>
