@import "../../../../../assets/styles/vars";

.item-card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;
  background-color: rgba($color: white, $alpha: 0.4);
  white-space: normal;
  position: relative;
  top: 0;
  text-decoration: none;
  box-shadow: $box_shadow_12;
  color: white;
  height: 100%;

  &:hover {
    top: -10px;
    box-shadow: $box_shadow_24;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    cursor: pointer;
    background-color: $rarity_common;
    color: $black_high_emphasis;
    text-decoration: none;
    position: relative;
    white-space: normal;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(#ffffff, #000000);
      pointer-events: none;
      mix-blend-mode: multiply;
      opacity: 0.15;
    }

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }

    .image-map{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
    }
  }

  .rarity-unusual {
    background-color: $rarity_unusual !important;
  }
  .rarity-odd {
    background-color: $rarity_odd !important;
  }
  .rarity-rare {
    background-color: $rarity_rare !important;
  }
  .rarity-epic {
    background-color: $rarity_epic !important;
  }
  .rarity-legendary {
    background-color: $rarity_legendary !important;
  }
  .rarity-mythic {
    background-color: $rarity_mythic !important;
  }
  .rarity-unique {
    background-color: $rarity_unique !important;
    color: $black_high_emphasis !important;
  }
  .rarity-common {
    background-color: $rarity_common !important;
  }

  .body {
    background: linear-gradient(#5430ac, #1c1b4d);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 1em;

      .item-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
      }

      .item-icon {
        width: 30px;
        border-radius: 0.25em;
        background-color: rgba($color: $black_high_emphasis, $alpha: 0.1);
        color: $black_high_emphasis;
      }

      .spacer {
        margin: auto;
      }

      mat-icon {
        transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
      }
    }

    h3 {
      font-size: 1.1em;
      margin: 0;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .row-price {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      margin-bottom: 1em;

      p{
        color: $white_medium_emphasis;
        line-height: 1.2;
      }

      .price{
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: 8px;
        justify-content: flex-end;
        min-width: 80px;

        img{
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }
    }

    .footer{
      margin-top: auto;
      display: flex;
      gap: 4px;

      .tag{
        min-width: 28px;
        height: 28px;
        background-color: rgba($color: white, $alpha: 0.1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-size: 0.8em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-weight: 500;
      }

      .tag-location{
        margin-right: auto;
        mat-icon{
          width: 16px;
          height: 16px;
          font-size: 16px;
          line-height: 16px;
          margin-right: 4px;
        }
      }

      .proximities{
        display: flex;
        margin-left: auto;
        gap: 4px;

        .proximity{
          img{
            width: 20px;
            height: 20px;
            object-fit: contain;
          }
        }
      }
    }

    .rarity {
      span {
        color: white;
        border-radius: 4px;
        padding: 0 0.5em;
        font-size: 0.9em;
        box-sizing: border-box;
      }

      .mythic {
        background: #b60046;
      } //Regular
      .unique {
        background: green;
      } //Regular
      .legendary {
        background: #c06e03;
      } //Regular
      .epic {
        background: orange;
      } //Regular
      .unusual {
        background: violet;
      } //Regular
      .odd {
        background: blue;
      } //Regular
      .regular {
        background: salmon;
      } //Regular
      .rare {
        background: #1185a8;
      } //Regular
      .uncommon {
        background: brown;
      } //Regular
    }

    .lands-coordinates {
      padding: 0.25em 0.5em;
      background-color: rgba($color: $black_high_emphasis, $alpha: 0.1);
      color: $black_high_emphasis;
      font-size: 0.9em;

      mat-icon {
        transform: scale(0.6);
        -o-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -webkit-transform: scale(0.6);
      }
    }

    .category {
      img {
        width: 20px;
      }
    }
  }
}
