<a [routerLink]="['/marketplace/main/item-detail']" class="item-card component-animation animated">

  <div class="image-container" [ngClass]="{
    'rarity-common'   : item?.rarity == 0 || item?.type == 3,
    'rarity-unusual'  : item?.rarity == 1,
    'rarity-odd'      : item?.rarity == 2,
    'rarity-rare'     : item?.rarity == 3,
    'rarity-epic'     : item?.rarity == 4,
    'rarity-legendary': item?.rarity == 5,
    'rarity-mythic'   : item?.rarity == 6,
    'rarity-unique'   : item?.rarity == 7}">

    <img *ngIf="item?.type == 0 || item?.type == 1" [src]="item?.photoMiniature" alt="{{ item?.title }}" onerror="this.src='/assets/img/image-not-found.svg';" class="image-map" />

    <img *ngIf="item?.type == 2" [src]="item?.photoMiniature" alt="{{ item?.title }}" onerror="this.src='/assets/img/image-not-found.svg';" />

    <span *ngIf="item?.type == 3">{{ item?.title }}</span>
  </div>

  <div class="body">
    <h3> {{ item?.title }} </h3>

    <div class="row-price">
      <p><small>Binance Smart Chain</small></p>

      <div class="price">
        <img src="/assets/img/logos/icon-total-white.svg" />
        5,578
      </div>
    </div>

    <div class="footer">
      <div *ngIf="true" class="tag tag-location">
        <mat-icon>location_on</mat-icon> {{ item?.coordinates }}
      </div>

      <div *ngIf="false" class="tag tag-location">
        6 PARCELS
      </div>

      <div *ngIf="item?.type == 0 || item?.type == 1" class="proximities">
        <div *ngIf="true" class="tag proximity" matTooltip="Plaza - 2 parcels away"><img src="/assets/img/icons/map-icons/icon-plaza.png"></div>
        <div *ngIf="true" class="tag proximity" matTooltip="Road - 5 parcels away"><img src="/assets/img/icons/map-icons/icon-road.png"></div>
        <div *ngIf="true" class="tag proximity" matTooltip="Distric - Adjacent"><img src="/assets/img/icons/map-icons/icon-distric.png"></div>
      </div>
    </div>

  </div>
</a>
