<div class="transparency-page intro-component-animation">
  <div class="container">

    <div class="row">
      <div class="left">
        <section class="section current-balance">
          <h5><b>Current Balance</b></h5>
          <mat-divider></mat-divider>

          <div class="tokens">
            <button mat-flat-button class="animated" [matMenuTriggerFor]="tokenCloud">
              <div class="token"><img src="/assets/img/tokens/token-cloud.png" alt="CLOUD Token"></div>
              <div class="text">
                <p><small>CLOUD TOKEN <mat-icon>info_outline</mat-icon></small></p>
                <p><b>43,000,234.00</b></p>
              </div>
            </button>

            <button mat-flat-button class="animated" [matMenuTriggerFor]="tokenCloud">
              <div class="token"><img src="/assets/img/tokens/token-bnb.png" alt="BNB Token"></div>
              <div class="text">
                <p><small>BNB TOKEN <mat-icon>info_outline</mat-icon></small></p>
                <p><b>43,000,234.00</b></p>
              </div>
            </button>

            <button mat-flat-button class="animated" [matMenuTriggerFor]="tokenCloud">
              <div class="token"><img src="/assets/img/tokens/token-usdt.png" alt="CLOUD Token"></div>
              <div class="text">
                <p><small>USDT TOKEN <mat-icon>info_outline</mat-icon></small></p>
                <p><b>43,000,234.00</b></p>
              </div>
            </button>

            <button mat-flat-button class="animated" [matMenuTriggerFor]="tokenCloud">
              <div class="token"><img src="/assets/img/tokens/token-usdc.png" alt="CLOUD Token"></div>
              <div class="text">
                <p><small>USDC TOKEN <mat-icon>info_outline</mat-icon></small></p>
                <p><b>43,000,234.00</b></p>
              </div>
            </button>

            <button mat-flat-button class="animated" [matMenuTriggerFor]="tokenCloud">
              <div class="token"><img src="/assets/img/tokens/token-dai.png" alt="CLOUD Token"></div>
              <div class="text">
                <p><small>DAI TOKEN <mat-icon>info_outline</mat-icon></small></p>
                <p><b>43,000,234.00</b></p>
              </div>
            </button>

            <button mat-flat-button class="animated" [matMenuTriggerFor]="tokenCloud">
              <div class="token"><img src="/assets/img/tokens/token-weth.png" alt="CLOUD Token"></div>
              <div class="text">
                <p><small>WETH TOKEN <mat-icon>info_outline</mat-icon></small></p>
                <p><b>43,000,234.00</b></p>
              </div>
            </button>
          </div>
        </section>

        <section class="section expenses-incomes row">
          <div class="column incomes">
            <h5><b>Last 30 Days Income</b></h5>
            <mat-divider></mat-divider>
            <h3>$9,069,999 <small>USD</small></h3>
            <p><small><b><span class="color-primary">-74%</span></b> VS  PREVIOUS 30 DAYS</small></p>
            <div class="item">
              <p>Vesting Contract</p>
              <p><b>$4,797,255</b></p>
            </div>
            <div class="item">
              <p>ETH DCL Marketplace</p>
              <p><b>$250,168</b></p>
            </div>
            <div class="item">
              <p>MATIC DCL Marketplace</p>
              <p><b>$3,908</b></p>
            </div>
            <div class="item">
              <p>OpenSea Marketplace</p>
              <p><b>$0</b></p>
            </div>
            <div class="item">
              <p>Other</p>
              <p><b>$505,440</b></p>
            </div>
          </div>

          <div class="column expenses">
            <h5><b>Last 30 Days Expenses</b></h5>
            <mat-divider></mat-divider>
            <h3>$9,069,999 <small>USD</small></h3>
            <p><small><b><span class="color-primary">-74%</span></b> VS  PREVIOUS 30 DAYS</small></p>
            <div class="item">
              <p>Vesting Contract</p>
              <p><b>$4,797,255</b></p>
            </div>
            <div class="item">
              <p>ETH DCL Marketplace</p>
              <p><b>$250,168</b></p>
            </div>
            <div class="item">
              <p>MATIC DCL Marketplace</p>
              <p><b>$3,908</b></p>
            </div>
            <div class="item">
              <p>OpenSea Marketplace</p>
              <p><b>$0</b></p>
            </div>
            <div class="item">
              <p>Other</p>
              <p><b>$505,440</b></p>
            </div>
          </div>
        </section>
      </div>

      <div class="right">
        <p class="title"><b>OUR MISSION</b></p>
        <p><small>To support and facilitate the continual growth of the Metacloud platform.</small></p>
        <a href="" target="_blank" mat-stroked-button><img src="/assets/img/icons/discord-icon-black.svg" /> <span>Join our Discord</span> <mat-icon color="primary">open_in_new</mat-icon></a>
        <a href="" target="_blank" mat-stroked-button><mat-icon>assignment</mat-icon> <span>Check our Docs</span> <mat-icon color="primary">open_in_new</mat-icon></a>
        <a href="" target="_blank" mat-stroked-button><mat-icon>analytics</mat-icon> <span>Transparency Dashboard</span> <mat-icon color="primary">open_in_new</mat-icon></a>
        <a href="" target="_blank" mat-stroked-button><mat-icon>dns</mat-icon> <span>DCL Data Source</span> <mat-icon color="primary">open_in_new</mat-icon></a>
      </div>
    </div>


    <div class="row">
      <div class="left">
        <section class="section funding-provided">
          <h5><b>Funding provided so far</b></h5>
          <h3>$9,069,999 <small>USD</small></h3>
          <mat-divider></mat-divider>
          <p><small><b>47 PROPOSALS FUNDED</b></small></p>
          <div class="item">
            <p>Metacloud tutorial videos for Portuguese speaking community</p>
            <p><b>$4,797,255</b></p>
          </div>
          <div class="item">
            <p>To keep the content supply fresh in Filmrare-Cinematheque by acquisition</p>
            <p><b>$250,168</b></p>
          </div>
          <div class="item">
            <p>Genesis city top-down map website and mapping script</p>
            <p><b>$3,908</b></p>
          </div>
          <div class="item">
            <p>WeMeta Builder Tag</p>
            <p><b>$0</b></p>
          </div>
          <div class="item">
            <a [routerLink]="['/dao/proposals']" class="link hover-linear"><small>View 42 more...</small></a>
          </div>

          <mat-divider></mat-divider>

          <p><small><b>12 ACTIVE GRANTS REQUESTS</b></small></p>
          <div class="item">
            <p>Metacloud tutorial videos for Portuguese speaking community</p>
            <p><b>$4,797,255</b></p>
          </div>
          <div class="item">
            <p>To keep the content supply fresh in Filmrare-Cinematheque by acquisition</p>
            <p><b>$250,168</b></p>
          </div>
          <div class="item">
            <p>Genesis city top-down map website and mapping script</p>
            <p><b>$3,908</b></p>
          </div>
          <div class="item">
            <p>WeMeta Builder Tag</p>
            <p><b>$0</b></p>
          </div>
          <div class="item">
            <a [routerLink]="['/dao/proposals']" class="link hover-linear"><small>View 6 more...</small></a>
          </div>
        </section>
      </div>

      <div class="right">
        <p class="title"><b>Currently funding initiatives</b></p>
        <p><small>Our community is powered by individual contributors all pushing in the same direction.</small></p>
        <a href="" target="_blank" mat-stroked-button><mat-icon>folder</mat-icon> <span>View all proposals</span> <mat-icon color="primary">open_in_new</mat-icon></a>
      </div>
    </div>

    <div class="row">
      <div class="left">
        <section class="section">
          <h5><b>DAO Committee <mat-icon matTooltip="Their principal responsibility is to enact binding proposals on-chain like listing Point of Interests, sending Grants, and any other operations involving the DAO's smart contracts.">info_outline</mat-icon></b></h5>
          <div class="users">
            <div class="user" *ngFor="let user of daoCommittee">
              <div class="avatar">
                <img src="/assets/img/avatar.png" alt="[name_user]" onerror="this.src='/assets/img/user-avatar-empty.svg';" />
              </div>
              <p>[name_user]</p>
            </div>
          </div>

          <mat-divider></mat-divider>

          <h5><b>DAO Facilitator <mat-icon matTooltip="Responsible for general community outreach and hosting monthly town halls. The DAO Facilitator writes bi-weekly reports based on the comments of the DAO Committee and the community.">info_outline</mat-icon></b></h5>
          <div class="users">
            <div class="user" *ngFor="let user of daoFacilitator">
              <div class="avatar">
                <img src="/assets/img/avatar.png" alt="[name_user]" onerror="this.src='/assets/img/user-avatar-empty.svg';" />
              </div>
              <p>[name_user]</p>
            </div>
          </div>

          <mat-divider></mat-divider>

          <h5><b>Wearable Curation Team <mat-icon matTooltip="Responsible for reviewing new wearable submissions ensuring they are glitch-free and compliant with the design guidelines. They also rise warnings about IP infringement and violent content.">info_outline</mat-icon></b></h5>
          <div class="users">
            <div class="user" *ngFor="let user of wearableCurationTeam">
              <div class="avatar">
                <img src="/assets/img/avatar.png" alt="[name_user]" onerror="this.src='/assets/img/user-avatar-empty.svg';" />
              </div>
              <p>[name_user]</p>
            </div>
          </div>
        </section>
      </div>

      <div class="right">
        <p class="title"><b>We do have brain-power</b></p>
        <p><small>This set of individuals was chosen by the community to represent them.</small></p>
        <a href="" target="_blank" mat-stroked-button><mat-icon>assignment</mat-icon> <span>How the DAO Works</span> <mat-icon color="primary">open_in_new</mat-icon></a>
        <a href="" target="_blank" mat-stroked-button><mat-icon>person_add</mat-icon> <span>Apply as Wearable Curator</span> <mat-icon color="primary">open_in_new</mat-icon></a>
        <a href="" target="_blank" mat-stroked-button><mat-icon>person_search</mat-icon> <span>Apply as a DAO Delegate</span> <mat-icon color="primary">open_in_new</mat-icon></a>
      </div>
    </div>

  </div>
</div>




<mat-menu #tokenCloud="matMenu" class="menu-token-balance">
  <a mat-button href="" target="_blank">
    <div class="left">
      <p><b>Aragon Agent</b></p>
      <p><small>ETHEREUM NETWORK</small></p>
    </div>
    <div class="right">
      <p>40,947,808.486 <small>CLOUD</small></p>
      <p class="color-primary"><small><b>AUDIT ON ETHERSCAN</b></small></p>
    </div>
  </a>

  <a mat-button href="" target="_blank">
    <div class="left">
      <p><b>DAO Committee</b></p>
      <p><small>ETHEREUM NETWORK</small></p>
    </div>
    <div class="right">
      <p>2,222,375.734 <small>CLOUD</small></p>
      <p class="color-primary"><small><b>AUDIT ON ETHERSCAN</b></small></p>
    </div>
  </a>

  <a mat-button href="" target="_blank">
    <div class="left">
      <p><b>DAO Committee</b></p>
      <p><small>POLYGON NETWORK</small></p>
    </div>
    <div class="right">
      <p>985,466.63 <small>CLOUD</small></p>
      <p class="color-primary"><small><b>AUDIT ON ETHERSCAN</b></small></p>
    </div>
  </a>
</mat-menu>
