@import "../../../../../assets/styles/vars";

.main-layout {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: transparent;

  .background-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .background-color{
      position: fixed;
      top: 0;
      left: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: #FBE1D7;
    }

    .background-noise {
      background-image: url("/assets/img/patterns/pattern-noise.png");
      background-repeat: repeat;
      mix-blend-mode: soft-light;
      opacity: 0.3;
      position: fixed;
      top: 0;
      left: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .background-gradient {
      position: absolute;
      width: 130%;
      left: -30%;
      height: 100vh;
      min-height: 4000px;
      top: 0;
      background: radial-gradient(#9e95d3, #fff2ea, #f5cabb 90%);
      filter: blur(30px);
    }

    .background-circle-1 {
      background: radial-gradient(
        #792aeb,
        rgba($color: #792aeb, $alpha: 0) 70%
      );
      opacity: 0.15;
      position: fixed;
      top: -100px;
      left: -100px;
      width: 420px;
      height: 520px;
    }
  }

  .content-layout {
    position: relative;
    z-index: 2;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 1em 3em;
    z-index: 20;
    width: 100%;
    box-sizing: border-box;
    animation: introVideoHome 2s ease;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    gap: 0.5em;
    @include lt-md {
      padding: 0.2em 1em;
      position: fixed;
      top: 0;
      left: 0;
    }

    @include md{
      padding: 1em 1.5em;
    }

    .logo {
      width: 230px;
      margin-right: auto;
      display: flex;
      align-items: center;
      @include lt-lg {
        width: 170px;
      }
      @include xs{
        margin: auto;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .menu {
      transform: scale(0.85);
      display: none;
      @include lt-md {
        display: block;
      }
      #hamburger {
        $stroke-color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;

        &:hover {
          .line {
            &2 {
              stroke-dasharray: 60 60;
              stroke-width: 6;
            }
            &3 {
              stroke-dasharray: 60 207;
              stroke-width: 6;
            }
          }
        }

        .line {
          fill: none;
          stroke: $stroke-color;
          stroke-width: 6;
          transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
          -o-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
          -moz-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-transition: stroke-dasharray 600ms
              cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

          &1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
          &2 {
            stroke-dasharray: 45 60;
            stroke-width: 6;
          }
          &3 {
            stroke-dasharray: 30 207;
            stroke-width: 6;
          }
        }

        &.open .line {
          stroke: black;
          &1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
          &2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
          }
          &3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
        }
      }
    }

    .social-media {
      display: flex;
      @include xs {
        display: none;
      }
      a,
      button {
        position: relative;
        opacity: 0.7;
        transition: $animation;
        -o-transition: $animation;
        -moz-transition: $animation;
        -webkit-transition: $animation;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: $animation;
          -o-transition: $animation;
          -moz-transition: $animation;
          -webkit-transition: $animation;
          border-radius: 200px;
          background-color: rgba($color: #ffffff, $alpha: 0.5);
          z-index: 1;
        }
        img {
          width: 22px;
          height: 22px;
          position: relative;
          z-index: 2;
          &:nth-of-type(1) {
            display: block;
          }
          &:nth-of-type(2) {
            display: none;
          }
        }
        &:hover {
          opacity: 1;
          &::before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .separate-line-vert {
      @include lt-md {
        display: none;
      }
    }

    .nav-items {
      display: flex;
      align-items: center;
      gap: 0.5em;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      @include lt-md {
        flex-direction: column;
        position: fixed;
        top: 54px;
        left: 0;
        background-color: white;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding: 0;
      }

      .nav-item {
        @include lt-md {
          width: 100%;
        }
        .nav-link {
          color: $black_high_emphasis;
          opacity: 0.5;
          text-decoration: none;
          font-size: 0.9em;
          font-weight: 600;
          &:hover {
            opacity: 0.75;
          }
          @include lt-md {
            width: 100%;
          }
        }
      }

      .router-link-active {
        .nav-link {
          font-weight: 700;
          opacity: 1 !important;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }

    .btn-primary {
      @include xs {
        display: none;
      }
      .nav-link {
        color: white;
        font-weight: 600;
        opacity: 1 !important;
        padding: 0.1em 2em;
      }
    }

    .btn-login {
      margin-left: 8px;
      display: none;
      @include xs {
        display: block;
      }
      button {
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        color: rgba($color: #000000, $alpha: 0.7);
      }
    }

    .avatar {
      border: 3px solid transparent;
      &::ng-deep .mat-button-wrapper {
        img {
          display: flex !important;
        }
      }
      &:hover {
        border-color: $color_primary_500;
      }
      @include xs {
        right: 1em;
      }
    }
  }

  .nav-scrolled {
    @include lt-md {
      background-color: white !important;
    }
  }

  .nav-menu-open {
    background-color: white;

    .nav-items {
      height: initial;
      padding: 1em;
    }
  }
}
