<div class="start-proposal intro-component-animation">
  <div class="container">

    <a mat-button [routerLink]="['/dao/proposals/start-proposal']"><mat-icon>arrow_back</mat-icon> Back</a>
    <h1><b>Request a grant</b></h1>
    <p>Metacloud Grants allow the DAO’s CLOUD to fund the creation of features or content for the Metacloud platform. Either individuals or teams may apply within one of five categories, and there are six levels of funding for each category. Before submitting your grant proposal, please review the <a [routerLink]="['/routePath']" class="link hover-linear">Grants Framework</a> here.</p>
    <p>Aside from the requirements listed in the Grants Framework and Metacloud’s Content Policy, Terms of Use, and Code of Ethics, there are no constraints on the content or features that may be funded.</p>

    <br><br>

    <p><b>Category</b></p>
    <mat-form-field appearance="outline">
      <mat-select placeholder="Select Category">
        <mat-option value="0">Community</mat-option>
        <mat-option value="1">Content Creator</mat-option>
        <mat-option value="2">Gaming</mat-option>
        <mat-option value="3">Platform Contributor</mat-option>
      </mat-select>
    </mat-form-field>
    <br><br>

    <p><b>Grant Tier</b></p>
    <mat-form-field appearance="outline">
      <mat-select placeholder="Select Category">
        <mat-option value="0">Tier 1: up to $1,500 USD in CLOUD, one-time payment</mat-option>
        <mat-option value="1">Tier 2: up to $3,000 USD in CLOUD, one time payment</mat-option>
        <mat-option value="2">Tier 3: up to $5,000 USD in CLOUD, 3 months vesting (1 month cliff)</mat-option>
        <mat-option value="3">Tier 4: up to $60,000 USD, 6 months vesting (1 month cliff)</mat-option>
        <mat-option value="4">Tier 5: up to $120,000 USD, 6 months vesting (1 month cliff)</mat-option>
        <mat-option value="5">Tier 6: up to $240,000 USD, 6 months vesting (1 month cliff)</mat-option>
      </mat-select>
    </mat-form-field>
    <br><br>

    <p><b>Title</b></p>
    <mat-form-field appearance="outline">
      <input matInput maxlength="80" placeholder="Enter a descriptive title for your grant proposal here" />
      <mat-hint align="end">(0 out of 80 characters)</mat-hint>
    </mat-form-field>
    <br><br>

    <p class="title"><b>Abstract</b></p>
    <p>Please explain the key components of your project. This should include a description of the feature or content you want to create, what needs or goals your work may satisfy, and the skills or experience you have that will contribute to your success. This is your chance to make a good first impression on the community.</p>
    <mat-form-field appearance="outline">
      <textarea matInput name="" id="" rows="10" maxlength="750" placeholder="Enter a quick, non technical overview of each project here"></textarea>
      <mat-hint align="end">(0 out of 750 characteres)</mat-hint>
    </mat-form-field>
    <br><br>

    <p class="title"><b>Grant size</b></p>
    <p>Please enter the exact amount of funding you would like to request. This amount must be within the range of your selected tier.</p>
    <div style="width: 400px; max-width: 100%;">
      <mat-form-field appearance="outline">
        <input matInput placeholder="USD" />
        <span *ngIf="true" matSuffix>USD</span>
        <mat-icon *ngIf="false" matSuffix color="warn">warning</mat-icon>
      </mat-form-field>
    </div>
    <div *ngIf="true" class="text-error">Grant size is too low</div>
    <div *ngIf="false" class="text-error">Grant size is not valid for the selected tier</div>
    <br><br>

    <p class="title"><b>Beneficiary address</b></p>
    <p>The address that will receive the grant funds. This must be an Ethereum address! Entering a non-Ethereum address that cannot receive CLOUD may result in a permanent loss of funds.</p>
    <mat-form-field appearance="outline">
      <input matInput />
    </mat-form-field>
    <br><br>

    <p class="title"><b>Description</b></p>
    <mat-form-field appearance="outline">
      <textarea matInput name="" id="" rows="10" maxlength="300" placeholder="Allows you to elaborate on why your project should receive funding, the problems that your project will solve, or the benefits it will bring to the Meaclud platform."></textarea>
      <mat-hint align="end">(0 out of 300 characteres)</mat-hint>
    </mat-form-field>
    <br><br>

    <p class="title"><b>Specification</b></p>
    <p>Provide an explanation of how you will complete your project, listing the tools and methods you plan to use. Include any technical documentation, drafts, or other preliminary work you’ve already completed.</p>
    <mat-form-field appearance="outline">
      <textarea matInput name="" id="" rows="10" maxlength="3500" placeholder="The technical specification for your project."></textarea>
      <mat-hint align="end">(0 out of 3500 characteres)</mat-hint>
    </mat-form-field>
    <br><br>

    <p class="title"><b>Personnel</b></p>
    <p>Please list who will be working on this project, along with an explicit overview of their relevant skill sets and experience. You may provide links to portfolios or profiles to help the Metacloud community get to know who the DAO will be funding and how their backgrounds will contribute to your project’s success.</p>
    <mat-form-field appearance="outline">
      <textarea matInput name="" id="" rows="10" maxlength="1500" placeholder="A description of your team and why they are particularly qualified for your project."></textarea>
      <mat-hint align="end">(0 out of 1500 characteres)</mat-hint>
    </mat-form-field>
    <br><br>

    <p class="title"><b>Roadmap and milestones </b></p>
    <p>Describe the roadmap of your project, making sure to include any relevant milestones that the community should be aware of and how you will share progress you have made. Clearly communicating progress for long-term projects funded by vesting contracts will help prevent the removal of your funding.</p>
    <mat-form-field appearance="outline">
      <textarea matInput name="" id="" rows="10" maxlength="1500" placeholder="Your estimated timeline and key milestones. Include your plan dor reporing progress to the community."></textarea>
      <mat-hint align="end">(0 out of 1500 characteres)</mat-hint>
    </mat-form-field>
    <br><br>

    <button mat-flat-button color="primary" class="btn-submit">SUBMIT PROPOSAL</button>
  </div>
</div>
