<div class="user-page">
  <div class="container">

    <header>
      <div class="avatar">
        <img src="" alt="" onerror="this.src='/assets/img/user-avatar-empty.svg';" />
      </div>
      <h1><b>Metacloud</b></h1>
      <p>Metacloud is a virtual reality platform powered by the Smart Chain blockchain.</p>
    </header>

    <section @componentAnimation>
      <div class="article" *ngFor="let article of articles.slice(0,slice)">
        <app-article-card></app-article-card>
      </div>

      <div *ngIf="slice < articles.length" style="width: 100%; text-align: center; margin-top: 2em;">
        <button mat-flat-button class="btn-read-more" (click)="loadMoreComments()">READ MORE</button>
      </div>
    </section>



    <app-loading *ngIf="isLoading"></app-loading>

  </div>
</div>
