@import "../../../../../assets/styles/vars";

.events {
  padding-bottom: 4em;

  @include lt-md{
    margin-top: 74px;
  }

  header {
    margin-bottom: 2em;

    .row {
      display: flex;
      align-items: center;
      gap: 1em;
      @include lt-md{
        flex-wrap: wrap;
      }

      h1 {
        margin: 0;
        margin-right: auto;
        @include lt-md{
          width: 100%;
          text-align: center;
        }
      }

      .search{
        @include xs{
          width: calc(100% - 124px);
        }
        @include sm{
          width: calc(100% - 186px);
        }
        &::ng-deep .mat-form-field-wrapper{
          padding-bottom: 0;
        }
        &::ng-deep .mat-form-field-infix{
          padding: 0.5em 0 0.8em 0.3em;
        }
        &::ng-deep .mat-form-field-prefix{
         top: 0.35em;
        }
      }

      .btn-submit{
        padding: 0.4em 2em;
        @include xs{
          padding: 0.2em 1em;
          font-size: 0.8em;
        }
      }
    }

    .separate-line {
      margin-top: 1em;
      height: 1px;
      background-color: rgba($color: white, $alpha: 0.1);
      border-radius: 200px;
      @include lt-md{
        display: none;
      }

      .active-line {
        width: 280px;
        height: 4px;
        background: linear-gradient(to right, #be00f2, #6d32ea, #a1f6fa);
        border-radius: 200px;
        position: relative;
        top: -2px;
      }
    }
  }

  .section1 {
    position: relative;

    div {
      width: 100%;
    }

    .navigators {
      position: absolute;
      top: 45%;
      left: -5%;
      transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      width: 110%;
      z-index: 11;

      button {
        pointer-events: all;
      }
    }

    .indicators {
      margin-top: 2em;
      display: flex;
      justify-content: center;
      gap: 0.5em;

      div {
        width: 30px;
        height: 4px;
        border-radius: 200px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        opacity: 0.2;
      }
      .active {
        opacity: 1 !important;
        background-color: $color_primary_500;
      }
    }
  }

  .section2 {
    margin-top: 4em;

    h2{
      font-family: $font_title !important;
      @include xs{
        text-align: center;
      }
    }

    .layout {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      .trending-card {
        width: calc(33.3% - 1em);
        @include xs{
          width: 100%;
          display: none;
          &:nth-of-type(1){ display: block; }
          &:nth-of-type(2){ display: block; }
          &:nth-of-type(3){ display: block; }
          &:nth-of-type(4){ display: block; }
        }
        @include sm{
          width: calc(50% - 0.5em);
        }
      }
    }
  }

  .section3 {
    margin-top: 6em;

    h2{
      font-family: $font_title !important;
      @include xs{
        text-align: center;
      }
    }

    &::ng-deep .mat-chip-list-wrapper{
      @include xs{
        justify-content: center;
      }
    }

    mat-chip{
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 0.1);
    }

    .active{
      background-color: $color_primary_500;
      color: white;
    }

    .layout {
      margin-top: 2em;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      .event-card {
        width: calc(33.3% - 1em);
        @include xs{
          width: 100%;
        }
        @include sm{
          width: calc(50% - 0.5em);
        }
      }
    }
  }
}
