<div class="events intro-component-animation">
  <div class="container">

    <header>
      <div class="row">
        <h1>World events</h1>
        <mat-form-field appearance="outline" class="search">
          <input matInput type="text" placeholder="Search...">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="primary" class="btn-submit">SUBMIT EVENT</button>
      </div>
      <div class="separate-line">
        <div class="active-line"></div>
      </div>
    </header>

    <section class="section1">
      <drag-scroll #sectionBigCards [scrollbar-hidden]="true">
        <div drag-scroll-item *ngFor="let item of events.slice(0, 4)">
          <app-big-card></app-big-card>
        </div>
      </drag-scroll>
      <div class="indicators">
        <div *ngFor="let item of events.slice(0, 4)"></div>
      </div>
      <div class="navigators">
        <button mat-icon-button matTooltip="Prev" (click)="moveLeft()"><mat-icon>arrow_back</mat-icon></button>
        <button mat-icon-button matTooltip="Next" (click)="moveRight()"><mat-icon>arrow_forward</mat-icon></button>
      </div>
    </section>

    <section class="section2" @componentAnimation>
      <h2>Trending</h2>
      <div class="layout">
        <div class="trending-card" *ngFor="let item of events.slice(0, 9)">
          <app-event-card [isTrendingCard]="true"></app-event-card>
        </div>
      </div>
    </section>

    <section class="section3" @componentAnimation>
      <h2>Upcoming Events</h2>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip [ngClass]="{'active': filterActive == 0}" (click)="filterActive = 0">APRIL</mat-chip>
        <mat-chip [ngClass]="{'active': filterActive == 1}" (click)="filterActive = 1">MAY</mat-chip>
        <mat-chip [ngClass]="{'active': filterActive == 2}" (click)="filterActive = 2">JUNE</mat-chip>
        <mat-chip [ngClass]="{'active': filterActive == 3}" (click)="filterActive = 3">JULY</mat-chip>
      </mat-chip-list>
      <div class="layout">
        <div class="event-card" *ngFor="let item of events.slice(0, slice)">
          <app-event-card></app-event-card>
        </div>
        <div *ngIf="slice < events.length" style="text-align: center; margin-top: 2em; width: 100%;">
          <button class="component-animation" mat-flat-button color="primary" (click)="loadMoreProposals()">LOAD MORE</button>
        </div>
      </div>
    </section>
  </div>
</div>
