@import "../../../../../assets/styles/vars";

.names-page{
  padding-bottom: 4em;

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    gap: 0.5em;

    p {
      margin: 0;
      margin-right: auto;
    }

    .btn-icon {
      line-height: 1;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }

  .empty-screen {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 1em;
    padding: 4em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      width: 600px;
      max-width: 100%;
    }
  }

  .names{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .name{
      width: calc(25% - 0.66em);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 1em;
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: white;
      font-size: 1.25em;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5em;
      height: 160px;
      position: relative;

      &:hover{
        .btn-setting{
          opacity: 1;
        }
      }

      .btn-setting{
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        opacity: 0;
      }
    }
  }
}
