<div *ngIf="isMenuOpen" class="nav-menu" [ngClass]="{'nav-menu-active': isMenuOpen}" @componentAnimation @closeMenu>
  <div class="background-nav"></div>
  <div class="background"></div>

  <div class="content intro-component-animation">
    <a href="https://presale.meta-cloud.io/" target="_blank" mat-flat-button color="primary" class="btn-private-sell component-animation">PRIVATE SALE</a>
    <button mat-flat-button color="primary" class="btn-exploring component-animation">START EXPLORING <app-coming-soon-element></app-coming-soon-element></button>
    <h1 (click)="routeWithEffect('/home')" class="component-animation"><a routerLinkActive="router-link-active" class="link hover-linear">Home</a></h1>
    <h1 class="component-animation"><a href="https://presale.meta-cloud.io/" target="_blank" routerLinkActive="router-link-active" class="link hover-linear">ICO <mat-icon>logout</mat-icon></a></h1>
    <h1 class="component-animation coming-soon"><a routerLinkActive="router-link-active" class="link hover-linear">Marketplace</a> <div class="neon-effect"><b>Comin<span>g</span> So<span>o</span>n</b></div></h1>
    <h1 (click)="routeWithEffect('/events')" class="component-animation"><a routerLinkActive="router-link-active" class="link hover-linear">Events</a></h1>
    <h1 class="component-animation" [matMenuTriggerFor]="docsMenu"><a class="link hover-linear">Docs <mat-icon>arrow_drop_down</mat-icon></a></h1>
    <h1 class="component-animation"><a href="https://medium.com/metacloud" target="_blank" class="link hover-linear">Announcements <mat-icon>logout</mat-icon></a></h1>

    <mat-divider class="component-animation"></mat-divider>

    <div class="more-link component-animation">
      <h5>Links</h5>
      <div class="row">
        <a (click)="routeWithEffect('/team')" class="link hover-linear"><small>TEAM</small></a>
        <a (click)="routeWithEffect('/contact')" class="link hover-linear"><small>CONTACT US</small></a>
        <a href="https://drive.google.com/file/d/1FhaByaCKsBmbA0uSoMzFrQPpDlk6umT9/view?usp=sharing" target="_blank" class="link hover-linear"><small>WHITEPAPER</small></a>
      </div>
    </div>

    <div class="more-link component-animation">
      <h5>Legals</h5>
      <div class="row">
        <a (click)="routeWithEffect('/legals/terms-of-service')" class="link hover-linear component-animation"><small>TERMS OF USE</small></a>
        <a (click)="routeWithEffect('/legals/privacy-policy')" class="link hover-linear component-animation"><small>PRIVACY POLICY</small></a>
      </div>
    </div>

    <div class="social-media component-animation">
      <h5>Social media</h5>
      <a href="https://medium.com/metacloud" target="_blank" mat-icon-button matTooltip="Medium"><img src="/assets/img/icons/medium-icon-black.svg" alt="Medium"></a>
      <a href="http://discord.gg/metacloud" target="_blank" mat-icon-button matTooltip="Discord"><img src="/assets/img/icons/discord-icon-black.svg" alt="Discord"></a>
      <a href="https://t.me/themetacloud" target="_blank" mat-icon-button matTooltip="Main chat Telegram"><img src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram"></a>
      <a href="https://t.me/themetacloudANN" target="_blank" mat-icon-button matTooltip="Announcements Telegram"><img src="/assets/img/icons/telegram-icon-black.svg" alt="Telegram"></a>
      <a href="https://twitter.com/themetacloud" target="_blank" mat-icon-button matTooltip="Twitter"><img src="/assets/img/icons/twitter-icon-black.svg" alt="Twitter"></a>
    </div>

    <div class="videos component-animation">
      <h5>Videos</h5>
      <div class="videos-row">
      </div>
    </div>
  </div>
</div>

<video *ngIf="activeBlink" src="/assets/videos/blink-video.mp4" autoplay muted class="blink-video"></video>


<mat-menu #docsMenu="matMenu">
  <a (click)="routeWithEffect('/docs')" routerLinkActive="router-link-active" mat-menu-item>Documentation</a>
  <a href="https://drive.google.com/file/d/1FhaByaCKsBmbA0uSoMzFrQPpDlk6umT9/view?usp=sharing" target="_blank" mat-menu-item>Whitepaper <mat-icon>exit_to_app </mat-icon></a>
  <a href="https://drive.google.com/file/d/1vxwLo4xOWul6GZvRzL9czszgRArKpb5u/view?usp=sharing" target="_blank" mat-menu-item>Pitch Deck <mat-icon>exit_to_app </mat-icon></a>
  <a href="https://drive.google.com/file/d/1HRuV_Tyhcp8oiJRXvknb64gqqYhqr-gm/view?usp=sharing" target="_blank" mat-menu-item>Tokenomics <mat-icon>exit_to_app </mat-icon></a>
  <a (click)="routeWithEffect('/company/media-kit')" routerLinkActive="router-link-active" mat-menu-item>Media kit <mat-icon></mat-icon></a>
</mat-menu>
