<a mat-button [routerLink]="['/builder/collection-detail']" class="avatar-card component-animation animated">

  <button (click)="$event.stopPropagation()" class="btn-setting" mat-icon-button matTooltip="Settings" [matMenuTriggerFor]="settings"><mat-icon>more_horiz</mat-icon></button>

  <div class="image-container animated">
    <img src="/assets/img/avatar-preview.png" alt="[avatar_name]" />
  </div>

  <div class="body">
    <p class="text-name">[avatar_name]</p>
  </div>

</a>

<mat-menu #settings="matMenu">
  <button mat-menu-item>Delete</button>
</mat-menu>
