<div class="home-page">
  <div class="container">

    <header>
      <img src="/assets/img/planet.png" alt="Planet Metacloud" />

      <h1>Metacloud DAO</h1>
      <p>The virtual world in your hands</p>

      <div class="buttons">
        <button mat-flat-button color="primary">START VOTING</button>
        <button mat-stroked-button color="primary">LEARN MORE</button>
      </div>
    </header>

    <section>
      <h2>What is the metacloud DAO?</h2>
      <p>DAO stands for "Decentralized Autonomous Organization". The Metacloud DAO owns the most important smart contracts and assets that make up Metacloud – the LAND Contract, the Estates Contract, Wearables, Content Servers and the Marketplace. It also owns a substantial purse of CLOUD which allows it to be truly autonomous as well as subsidize various operations and initiatives throughout Metacloud.</p>
    </section>

    <section>
      <div class="left">
        <h2>Why has the DAO been created? How is it relevant to me?</h2>
        <p>Metacloud is the first fully decentralized virtual world. It was always part of the original vision to hand over control to the people who create and play in this virtual space. In short – you, the users. Through the DAO, you are in control of the policies created to determine how the world behaves: for example, what kinds of wearable items are allowed (or disallowed) after the launch of the DAO, moderation of content, LAND policy and auctions, among others.</p>
      </div>
      <div class="right">
        <img src="/assets/img" alt="" />
      </div>
    </section>

    <section>
      <div class="left">
        <h2>How does the DAO work?</h2>
        <p>Metacloud is the first fully decentralized virtual world. It was always part of the original vision to hand over control to the people who create and play in this virtual space. In short – you, the users. Through the DAO, you are in control of the policies created to determine how the world behaves: for example, what kinds of wearable items are allowed (or disallowed) after the launch of the DAO, moderation of content, LAND policy and auctions, among others.</p>
      </div>
      <div class="right">
        <img src="/assets/img" alt="" />
      </div>
    </section>

  </div>
</div>
