<div class="home-page intro-component-animation">
  <div class="container">

    <header>
      <div class="background-gradient"></div>
      <img src="/assets/img/module-dao/planet.png" alt="Planet Metacloud" />
      <h1 class="display3">Metacloud DAO</h1>
      <p>The virtual world in your hands</p>
      <div class="row">
        <button mat-stroked-button color="primary">LEARN MORE</button>
        <button mat-flat-button color="primary">START VOTING</button>
      </div>
    </header>

    <section class="section1">
      <h2><b>What is the metacloud DAO?</b></h2>
      <p>DAO stands for "Decentralized Autonomous Organization". The Metacloud DAO owns the most important smart contracts and assets that make up Metacloud – the LAND Contract, the Estates Contract, Wearables, Content Servers and the Marketplace. It also owns a substantial purse of CLOUD which allows it to be truly autonomous as well as subsidize various operations and initiatives throughout Metacloud.</p>
    </section>

    <section class="section2">
      <div class="container">
        <div class="row">
          <div class="left">
            <h3>Why has the DAO been created? How is it relevant to me?</h3>
            <p>Metacloud is the first fully decentralized virtual world. It was always part of the original vision to hand over control to the people who create and play in this virtual space. In short – you, the users. Through the DAO, you are in control of the policies created to determine how the world behaves: for example, what kinds of wearable items are allowed (or disallowed) after the launch of the DAO, moderation of content, LAND policy and auctions, among others.</p>
          </div>
          <div class="right">
            <img src="/assets/img/module-dao/floating-land.png" alt="" class="floating" />
          </div>
        </div>

        <div class="row">
          <div class="left">
            <img src="/assets/img/module-dao/avatar-dao.png" alt="" />
          </div>
          <div class="right">
            <h3>How does the DAO work?</h3>
            <p>The community will propose and vote on policy updates, future LAND auctions, whitelisting of NFT contracts to be allowed inside the World, Builder and Marketplace, and whatever the community deems relevant. Voting takes place on the Metacloud DAO's governance interface.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section3">
      <h2><b>What kinds of things will you get to determine?</b></h2>
      <div class="row">
        <div class="left">
          <p><b>Over the coming year we’ll be scheduling votes to decide on a range of issues, including (but not limited to)</b></p>
          <ul>
            <li>Upgrading LAND and Estates to add more features and protocol upgrades</li>
            <li>Specifics and dates of future LAND auctions.</li>
            <li>Size of marketplace fees, which are always in CLOUD that gets burnt.</li>
            <li>Primary sale fees, which are always in CLOUD that gets burnt.</li>
            <li>Addition and replacement of community-run content servers.</li>
            <li>Allocation of CLOUD grants to development efforts.</li>
            <li>Addition of new wearables to the Decentraland World, Builder and Marketplace.</li>
            <li>Replacing members of the Security Council.</li>
          </ul>
        </div>
        <div class="right">
          <img src="/assets/img/module-dao/avatar-rap.png" alt="" />
        </div>
      </div>
    </section>

    <section class="section4">
      <h3><b>What about Cloud?</b></h3>
      <p>CLOUD has already been fully decentralized, in the sense that the private key that controlled its smart contract has been <a [routerLink]="['/routePath']" class="link hover-linear">thrown away</a>.</p>
    </section>

    <section class="section5">
      <h2><b>More Info</b></h2>
      <div class="card animated">
        <h3>Security Advisory Board? What’s that?</h3>
        <p>The DAO is supported by the Security Advisory Board (SAB). The SAB acts as the guarantor of contract security, tasked with the job of providing a swift response to bug reports. The Board will be able to quickly upgrade the smart contract implementation of the LAND and Estate contracts and replace it with a bug-free version upon receiving a responsible disclosure bug report. All contract updates must be unanimous. Comprising 5 members, the Board will be made up of several expert entities or individuals initially chosen by the Decentraland team and later appointed by the community.</p>
      </div>
      <div class="card animated">
        <h3>How can SAB members be changed?</h3>
        <p>Members can be changed by the Aragon DAO – a vote must be started to remove or install a new member. This is an action that will involve the community using wCLOUD. A member of the SAB creates a vote for the community to add or remove a member of the SAB and community members use wCLOUDto cast their vote. "You can read more about the Security Advisory Board here."</p>
      </div>
      <div class="card animated">
        <h3>How do I elevate a Vote?</h3>
        <p>Initially, until fraud risk is reduced to its minimum extent possible, votes will only be created and scheduled by the Security Advisory Board (SAB).</p>
      </div>
    </section>

    <section class="section6">
      <div class="row">
        <div class="left">
          <h2><b>Get Involved</b></h2>
          <p>The DAO is your platform to greater control and influence over the development of Metacloud and we urge you to exercise your right to vote and positively shape our virtual world.</p>
        </div>
        <div class="right">
          <button mat-flat-button>START VOTING</button>
        </div>
      </div>
    </section>

  </div>
</div>
