<mat-dialog-content class="login-modal">
  <h5><b>Connect your wallet</b></h5>

  <button mat-stroked-button>
    <img src="/assets/img/wallets/wallet-metamask.png" alt="MetaMask" />
    <div class="texts">
      <p><b>MetaMask</b></p>
      <p><small>Using a browser extension</small></p>
    </div>
  </button>

  <button mat-stroked-button>
    <img src="/assets/img/wallets/wallet-fortmatic.png" alt="Fortmatic" />
    <div class="texts">
      <p><b>Fortmatic</b></p>
      <p><small>Using your email</small></p>
    </div>
  </button>

  <button mat-stroked-button>
    <img src="/assets/img/wallets/wallet-connect.png" alt="WalletConnect" />
    <div class="texts">
      <p><b>WalletConnect</b></p>
      <p><small>Using your mobile wallet</small></p>
    </div>
  </button>

  <p><small>Trezor and smart contract wallets like Drapper, Agent or Gnosis safe, do not work with Polygon. Read more about Trezor Support status <a [routerLink]="['/routePath']" class="link hover-linear">here</a>.</small></p>

</mat-dialog-content>
