<mat-dialog-content class="login-modal">
  <h3><b>Connect your wallet</b></h3>

  <button mat-stroked-button>
    <img src="" alt="" />
    <p><b>MetaMask</b></p>
    <p><small>Using a browser extension</small></p>
  </button>

  <button mat-stroked-button>
    <img src="" alt="" />
    <p><b>Fortmatic</b></p>
    <p><small>Using your email</small></p>
  </button>

  <button mat-stroked-button>
    <img src="" alt="" />
    <p><b>WalletConnect</b></p>
    <p><small>Using your mobile wallet</small></p>
  </button>

  <p><small>Trezor and smart contract wallets like Drapper, Agent or Gnosis safe, do not work with Polygon. Read more about Trezor Support status <a [routerLink]="['/routePath']" class="link hover-linear">here</a>.</small></p>

</mat-dialog-content>
