@import "../../../../../assets/styles/vars";

.login-modal{
  text-align: center;

  h5{
    margin-bottom: 1.5em;
  }

  button{
    width: 300px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 0.5em;
    line-height: 1.5;
    text-align: left;
    padding: 0.5em 1em;
    border-radius: 0.5em;

    &::ng-deep .mat-button-wrapper{
      display: flex;
      align-items: center;
      gap: 1em;

      img{
        width: 60px;
      }

      p{
        margin: 0;
      }
    }
  }
}
