<div class="voting-power-page intro-component-animation">
  <div class="container">

    <div class="cards">
      <div class="item">
        <p class="title">ADDRESS</p>
        <div class="user">
          <div class="avatar"><img src="/assets/img/avatar.png" alt="" onerror="this.src='/assets/img/user-avatar-empty.svg';" /></div>
          <h2>Axel#23dd</h2>
        </div>
      </div>

      <div class="item">
        <p class="title">TOTAL VOTING POWER</p>
        <h2>0 VP</h2>
      </div>
    </div>

    <div class="cards">
      <div class="item">
        <div class="head row">
          <p class="title">CLOUD</p>
          <button mat-button color="primary">GET CLOUD <mat-icon>chevron_right</mat-icon></button>
        </div>
        <div class="card">
          <h4>CLOUD POLYGON</h4>
          <mat-divider></mat-divider>
          <div class="spacer"></div>
          <p>CLOUD</p>
          <p><b>0 VP</b></p>
          <div class="spacer"></div>
          <p>CLOUD ETHEREUM</p>
          <p><b>0 VP</b></p>
        </div>
      </div>

      <div class="item">
        <div class="head row">
          <p class="title">LAND</p>
        </div>
        <div class="card">
          <h4>LAND</h4>
          <mat-divider></mat-divider>
          <div class="spacer"></div>
          <p>Balance</p>
          <p><b>0 LANDs</b></p>
          <div class="spacer"></div>
          <p>TOTAL VOTING POWER</p>
          <p><b>0 VP</b></p>
        </div>
      </div>

      <div class="item">
        <div class="head row">
          <p class="title"></p>
          <button mat-button color="primary">GET LAND <mat-icon>chevron_right</mat-icon></button>
        </div>
        <div class="card">
          <h4>ESTATE</h4>
          <mat-divider></mat-divider>
          <div class="spacer"></div>
          <p>BALANCE</p>
          <p><b>0 ESTATEs</b></p>
          <div class="spacer"></div>
          <p>TOTAL LAND</p>
          <p><b>0 LANDs</b></p>
          <div class="spacer"></div>
          <p>TOTAL VOTING POWER</p>
          <p><b>0 VP</b></p>
        </div>
      </div>

      <div class="item">
        <div class="head row">
          <p class="title">NAME</p>
          <button mat-button color="primary">GET NAME <mat-icon>chevron_right</mat-icon></button>
        </div>
        <div class="card">
          <h4>NAME</h4>
          <mat-divider></mat-divider>
          <div class="spacer"></div>
          <p>BALANCE</p>
          <p><b>0 NAMEs</b></p>
          <div class="spacer"></div>
          <p>TOTAL VOTING POWER</p>
          <p><b>0 VP</b></p>
        </div>
      </div>

      <div class="item">
        <div class="head row">
          <p class="title">DELEGATIONS</p>
        </div>
        <div class="card">
          <h4>Delegated to you</h4>
          <mat-divider></mat-divider>
          <div class="spacer"></div>
          <p>TOTAL VOTING POWER</p>
          <p><b>0 VP</b></p>
        </div>
      </div>

      <div class="item">
        <div class="head row">
          <p class="title"></p>
          <button mat-button color="primary">EDIT DELEGATIONS <mat-icon>chevron_right</mat-icon></button>
        </div>
        <div class="card">
          <h4>Your delegation</h4>
          <mat-divider></mat-divider>
          <div class="spacer"></div>
          <div class="empty-screen">
            <mat-icon>airware</mat-icon>
            <p>You have not delegated your voting power</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
