@import "../../../../../assets/styles/vars";

.create-collection-modal {
  text-align: center;
  padding: 1em 3em;
  position: relative;

  .btn-close{
    position: absolute;
    top: 0em;
    right: 1em;
  }

  h4 {
    margin-top: 0;
  }

  mat-form-field{
    width: 100%;
  }

  .btn-primary{
    width: 100%;
    height: 46px;
    margin-top: 3em;
  }
}
