<div class="marketplace-page intro-component-animation">
  <div class="container">

    <header>
      <h1>Marketplace</h1>
      <p>Welcome to the virtual world’s one-stop-shop for the top rated digital attractions.</p>
      <a mat-flat-button color="primary" [routerLink]="['main']">START BROWSING</a>
    </header>

    <!--<section>
      <div class="row">
        <h3>Newest on the Market!</h3>
        <a mat-button color="primary">view all <mat-icon>chevron_right</mat-icon></a>
      </div>

      <div class="layout">
        <drag-scroll>
          <div drag-scroll-item class="spacer"></div>
          <div drag-scroll-item *ngFor="let card of items.slice(0, 12)">
            <div class="card">
              <app-item-card [item]="card"></app-item-card>
            </div>
          </div>
          <div drag-scroll-item class="spacer"></div>
        </drag-scroll>
      </div>
    </section>-->

    <!--<section>
      <div class="row">
        <h3>Latest Sales</h3>
        <a mat-button color="primary">view all <mat-icon>chevron_right</mat-icon></a>
      </div>

      <div class="layout">
        <drag-scroll [scrollbar-hidden]="false">
          <div drag-scroll-item class="spacer"></div>
          <div drag-scroll-item *ngFor="let card of items.slice(0, 12)">
            <div class="card">
              <app-item-card [item]="card"></app-item-card>
            </div>
          </div>
          <div drag-scroll-item class="spacer"></div>
        </drag-scroll>
      </div>
    </section>-->

    <!--<section>
      <div class="row">
        <h3>Latest Listings</h3>
        <a mat-button color="primary">view all <mat-icon>chevron_right</mat-icon></a>
      </div>

      <div class="layout">
        <drag-scroll [scrollbar-hidden]="false">
          <div drag-scroll-item class="spacer"></div>
          <div drag-scroll-item *ngFor="let card of items.slice(0, 12)">
            <div class="card">
              <app-item-card [item]="card"></app-item-card>
            </div>
          </div>
          <div drag-scroll-item class="spacer"></div>
        </drag-scroll>
      </div>
    </section>-->

    <section class="parcels-estates">
      <div class="row">
        <h3>Parcels</h3>
        <a mat-button color="primary">view all <mat-icon>chevron_right</mat-icon></a>
      </div>

      <div class="layout">
        <drag-scroll [scrollbar-hidden]="false">
          <div drag-scroll-item class="spacer"></div>
          <div drag-scroll-item *ngFor="let card of items.slice(0, 12)">
            <div class="card">
              <app-item-card [item]="card"></app-item-card>
            </div>
          </div>
          <div drag-scroll-item class="spacer"></div>
        </drag-scroll>
      </div>
    </section>

    <!--<section>
      <div class="row">
        <h3>Names</h3>
        <a mat-button color="primary">view all <mat-icon>chevron_right</mat-icon></a>
      </div>

      <div class="layout">
        <drag-scroll [scrollbar-hidden]="false">
          <div drag-scroll-item class="spacer"></div>
          <div drag-scroll-item *ngFor="let card of items.slice(0, 12)">
            <div class="card">
              <app-item-card [item]="card"></app-item-card>
            </div>
          </div>
          <div drag-scroll-item class="spacer"></div>
        </drag-scroll>
      </div>
    </section>-->

  </div>
</div>
