@import "../../../../../assets/styles/vars";

.marketplace-page{
  padding-bottom: 3em;
  @include lt-md{
    padding-top: 0;
  }

  header{
    padding: 3em 0;
    text-align: center;
    h1{
      margin-bottom: 0;
    }
    p{
      font-size: 1.25em;
      margin-top: 0em;
      margin-bottom: 2em;
      @include xs{
        font-size: 1em;
      }
    }
  }

  section{
    margin-bottom: 3em;

    .row{
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3{
        margin: 0;
        font-size: 1.5em;
        font-weight: 600;
      }

      a{
        font-size: 1em;
        padding-right: 0.3em;
      }
    }

    .layout{
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      @include xs{
        width: calc(100% + 2.4em);
        margin-left: -1.2em;
      }
      @include sm{
        width: calc(100% + 6em);
        margin-left: -3em;
      }

      .spacer{
        @include xs{
          width: 1.5em;
          min-width: 1.5em;
        }
        @include sm{
          width: 3em;
          min-width: 3em;
        }
      }

      .card{
        padding-top: 1em;
        padding-bottom: 1em;
        min-width: 240px;
        width: 240px;
        margin-right: 1em;
      }
    }
  }

  .parcels-estates{
    .layout{
      .card{
        min-width: 320px;
        width: 320px;
      }
    }
  }
}
