<div class="item-detail-page intro-component-animation">
  <div class="container">

    <div class="column-left">
      <a [routerLink]="['/marketplace']" mat-icon-button matTooltip="Back"><mat-icon>arrow_back</mat-icon></a>
    </div>

    <div class="column-right">
      <header [ngClass]="{
        'rarity-common'   : item?.rarity == 0 || item?.type == 3,
        'rarity-unusual'  : item?.rarity == 1,
        'rarity-odd'      : item?.rarity == 2,
        'rarity-rare'     : item?.rarity == 3,
        'rarity-epic'     : item?.rarity == 4,
        'rarity-legendary': item?.rarity == 5,
        'rarity-mythic'   : item?.rarity == 6,
        'rarity-unique'   : item?.rarity == 7}">

        <!-- Item 3D Model -->
        <model-viewer
          *ngIf="item?.type == 2 && item?.modelItem != '' && showItem"
          alt="Item Model"
          [src]="item?.modelItem"
          camera-controls="true"
          autoplay
          enable-pan
          class="model-avatar">
        </model-viewer>

        <model-viewer
          *ngIf="item?.type == 2 && item?.modelWear != '' && !showItem"
          alt="Model Avatar with Item"
          [src]="item?.modelWear"
          camera-controls="true"
          autoplay
          enable-pan
          class="model-avatar">
        </model-viewer>

        <!-- Item Image (don't have 3D Model (for example, Tattu in the Skin)) -->
        <img *ngIf="item?.type == 2 && item?.modelItem == ''" [src]="item?.photo" onerror="this.src='/assets/img/image-not-found.svg';" class="item-wearable" />

        <!-- Item Name -->
        <span *ngIf="item?.type == 3">COCOPark</span>

        <!-- Item Land (Embed Map) -->
        <img *ngIf="item?.type == 0 || item?.type == 1" src="/assets/img/parcels.png" style="object-fit: cover; height: 100%;" />

        <!-- <mat-button-toggle-group *ngIf="item?.type == 2 && item?.genre == 2" class="btn btn-genre" name="change_genre" aria-label="Change Genre" value="0">
          <mat-button-toggle value="0" matTooltip="Female"><mat-icon>female</mat-icon></mat-button-toggle>
          <mat-button-toggle value="1" matTooltip="Male"><mat-icon>male</mat-icon></mat-button-toggle>
        </mat-button-toggle-group> -->

        <mat-button-toggle-group *ngIf="item?.type == 2" class="btn btn-view" name="change_view" aria-label="Change view" value="0">
          <mat-button-toggle value="0" (click)="showItem = true" matTooltip="Wearable"><mat-icon>checkroom</mat-icon></mat-button-toggle>
          <mat-button-toggle value="1" (click)="showItem = false" matTooltip="Try On"><mat-icon>accessibility_new</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </header>

      <section class="section-content">
        <div class="left">

          <h1>{{ item?.title }}</h1>

          <div class="tags">
            <div *ngIf="item?.type == 2 && item?.rarity == 0" class="tag rarity rarity-common" matTooltip="Max supply: 100,000">COMMON</div>
            <div *ngIf="item?.type == 2 && item?.rarity == 1" class="tag rarity rarity-unusual" matTooltip="Max supply: 50,000">UNUSUAL</div>
            <div *ngIf="item?.type == 2 && item?.rarity == 2" class="tag rarity rarity-odd" matTooltip="Max supply: 10,000">ODD</div>
            <div *ngIf="item?.type == 2 && item?.rarity == 3" class="tag rarity rarity-rare" matTooltip="Max supply: 5000">RARE</div>
            <div *ngIf="item?.type == 2 && item?.rarity == 4" class="tag rarity rarity-epic" matTooltip="Max supply: 1000">EPIC</div>
            <div *ngIf="item?.type == 2 && item?.rarity == 5" class="tag rarity rarity-legendary" matTooltip="Max supply: 100">LEGENDARY</div>
            <div *ngIf="item?.type == 2 && item?.rarity == 6" class="tag rarity rarity-mythic" matTooltip="For the lucky few: max 10">MYTHIC</div>
            <div *ngIf="item?.type == 2 && item?.rarity == 7" class="tag rarity rarity-unique" matTooltip="Grail-like: One-of-a-kind">UNIQUE</div>

            <div *ngIf="item?.type == 2 && item?.clothes == 0"  class="tag category" matTooltip="Facial Hair"><img src="/assets/img/icons/fashion-icons/mustache.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 1"  class="tag category" matTooltip="Hair"><img src="/assets/img/icons/fashion-icons/womans-hair.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 2"  class="tag category" matTooltip="Eyes"><img src="/assets/img/icons/fashion-icons/sunglasses.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 3"  class="tag category" matTooltip="Eyebrowns"><img src="/assets/img/icons/fashion-icons/eyebrow.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 4"  class="tag category" matTooltip="Mouth"><img src="/assets/img/icons/fashion-icons/lips.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 5"  class="tag category" matTooltip="Upper body"><img src="/assets/img/icons/fashion-icons/shirt.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 6"  class="tag category" matTooltip="Lower body"><img src="/assets/img/icons/fashion-icons/pant-short.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 7"  class="tag category" matTooltip="Feet"><img src="/assets/img/icons/fashion-icons/sandal.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 8"  class="tag category" matTooltip="Earring"><img src="/assets/img/icons/fashion-icons/.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 9"  class="tag category" matTooltip="Eyewear"><img src="/assets/img/icons/fashion-icons/sunglasses-circle.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 10" class="tag category" matTooltip="Hat"><img src="/assets/img/icons/fashion-icons/hat-skullcaps.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 11" class="tag category" matTooltip="Helmet"><img src="/assets/img/icons/fashion-icons/hat-winter.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 12" class="tag category" matTooltip="Mask"><img src="/assets/img/icons/fashion-icons/stalin-mustache.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 13" class="tag category" matTooltip="Tiara"><img src="/assets/img/icons/fashion-icons/.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 14" class="tag category" matTooltip="Top Head"><img src="/assets/img/icons/fashion-icons/.svg" /></div>
            <div *ngIf="item?.type == 2 && item?.clothes == 15" class="tag category" matTooltip="Skins"><img src="/assets/img/icons/fashion-icons/fashion-trend.svg" /></div>

            <div *ngIf="item?.type == 2 && item?.genre == 0" class="genre tag" matTooltip="Female"><mat-icon>female</mat-icon></div>
            <div *ngIf="item?.type == 2 && item?.genre == 1" class="genre tag" matTooltip="Male"><mat-icon>male</mat-icon></div>
            <div *ngIf="item?.type == 2 && item?.genre == 2" class="genre tag" matTooltip="Unisex"><mat-icon>transgender</mat-icon></div>

            <button *ngIf="item?.type == 0" class="coordinates tag" mat-button><mat-icon>location_on</mat-icon> -48,-78</button>

            <div *ngIf="item?.type == 1" class="lands tag" mat-button>212 LAND</div>

            <button *ngIf="item?.type == 0 || item?.type == 1" class="btn-jump tag" mat-flat-button color="primary">JUMP IN <mat-icon>exit_to_app</mat-icon></button>
          </div>

          <div class="item item-creator">
            <div class="overline">OWNER</div>
            <div class="row">
              <a [routerLink]="[item?.creatorUrl]" class="avatar"><img [src]="item?.creatorAvatar" onerror="this.src='/assets/img/user-avatar-empty,svg';" /></a>
              <a [routerLink]="[item?.creatorUrl]">{{ item?.creatorName }}</a>
            </div>
          </div>

          <!-- Fix ngIf to the correct var when is created -->
          <div *ngIf="item?.collectionName != ''" class="item item-creator item-collection">
            <div class="overline">COLLECTION</div>
            <div class="row">
              <a [routerLink]="[item?.collectionUrl]" class="avatar"><img [src]="item?.collectionAvatar" onerror="this.src='/assets/img/user-avatar-empty,svg';" /></a>
              <a [routerLink]="[item?.collectionUrl]">{{ item?.collectionName }}</a>
            </div>
          </div>

          <div *ngIf="item?.description != ''" class="item item-description">
            <div class="overline">DESCRIPTION</div>
            <p>{{ item?.description }}</p>
          </div>

          <div *ngIf="item?.type == 0 || item?.type == 1" class="item item-highlights">
            <div class="overline">HIGHLIGHTS</div>
            <div class="highlight">
              <div class="highlight__texts">
                <p><b>PLAZA</b></p>
                <p><small>2 PARCELS AWAY</small></p>
              </div>
              <div class="highlight__image-container">
                <img src="/assets/img/builder-item-icon.png" />
              </div>
            </div>

            <div class="highlight">
              <div class="highlight__texts">
                <p><b>ROAD</b></p>
                <p><small>5 PARCELS AWAY</small></p>
              </div>
              <div class="highlight__image-container">
                <img src="/assets/img/builder-item-icon.png" />
              </div>
            </div>

            <div class="highlight">
              <div class="highlight__texts">
                <p><b>DISTRIC</b></p>
                <p><small>ADJACENT</small></p>
              </div>
              <div class="highlight__image-container">
                <img src="/assets/img/builder-item-icon.png" />
              </div>
            </div>
          </div>

          <div *ngIf="item?.type == 1" class="item item-parcels">
            <p class="overline">PARCELS</p>
            <button mat-button *ngFor="let parcel of parcels"><mat-icon>location_on</mat-icon> -150,17</button>
          </div>

        </div>

        <div class="right">
          <div class="item item-price">
            <div class="overline">PRICE</div>
            <div class="value"><img src="/assets/img/logos/icon-total-white.svg" alt="Cloud Token" /> 5,578</div>
          </div>

          <div class="item item-network">
            <div class="overline">NETWORK</div>
            <div class="value"><small>BINANCE SMART CHAIN</small></div>
          </div>

          <div class="item item-stock">
            <div class="overline">STOCK</div>
            <div class="value">
              <small>
                {{ item?.currentMint }}
                <span>&nbsp;/ &nbsp;</span>
                <span *ngIf="item?.rarity == 0">100,000</span>
                <span *ngIf="item?.rarity == 1">50,000</span>
                <span *ngIf="item?.rarity == 2">10,000</span>
                <span *ngIf="item?.rarity == 3">5000</span>
                <span *ngIf="item?.rarity == 4">1000</span>
                <span *ngIf="item?.rarity == 5">100</span>
                <span *ngIf="item?.rarity == 6">10</span>
                <span *ngIf="item?.rarity == 7">1</span>
              </small>
            </div>
          </div>

          <div class="item item-buttons">
            <button mat-flat-button color="primary">BUY</button>
            <button mat-flat-button (click)="openPlaceBidModal()">BID</button>
          </div>

          <div class="time"><mat-icon>query_builder</mat-icon> Expires in 29 days</div>
        </div>
      </section>

      <!-- <div class="row texts">
        <div class="left">
          <mat-list>
            <mat-list-item>
              <div mat-line>Description</div>
              <div mat-line>Two Golden Orange Bracelets</div>
            </mat-list-item>
            <mat-list-item *ngIf="false">
              <mat-icon mat-list-icon>home</mat-icon>
              <div mat-line>Plaza</div>
              <div mat-line>2 Parcels Away</div>
            </mat-list-item>
            <mat-list-item *ngIf="false">
              <mat-icon mat-list-icon>home</mat-icon>
              <div mat-line>ROAD</div>
              <div mat-line>5 Parcels Away</div>
            </mat-list-item>
            <mat-list-item *ngIf="false">
              <mat-icon mat-list-icon>home</mat-icon>
              <div mat-line>DISTRIC</div>
              <div mat-line>Adjacent</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Price</div>
              <div mat-line>56 $CLOUD</div>
            </mat-list-item>
            <mat-list-item >
              <img mat-list-icon src="/assets/img/avatar.png" />
              <div mat-line>Creator</div>
              <div mat-line><a [routerLink]="['/routePath']" class="link hover-linear">SHAWNDA0505LYDS</a></div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Stock</div>
              <div mat-line>100/100</div>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-icon src="/assets/img/collection-icon.png" />
              <div mat-line>Collection</div>
              <div mat-line>Bracelets Paradice</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Expires in 10 days</div>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="right">
          <button mat-flat-button>BID</button>
          <button mat-flat-button color="primary">BUY</button>
        </div>
      </div> -->

      <section class="bids">
        <p><b>BIDS</b></p>
        <div class="scroll-table">
          <table mat-table [dataSource]="dataSource2">

            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef> From </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/routePath']" class="user link"><div class="avatar"><img src="/assets/img/avatar.png"></div> <span>{{ element.from }}</span></a> </td>
            </ng-container>

            <ng-container matColumnDef="timeleft">
              <th mat-header-cell *matHeaderCellDef> Time left </th>
              <td mat-cell *matCellDef="let element"> {{element.timeleft}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> <img class="token" src="/assets/img/logos/icon.svg" /> <b>{{element.price}}</b> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">No Results</td>
            </tr>
          </table>
        </div>
      </section>

      <div class="latest-sales">
        <p style="margin-bottom: 0;"><b>LATEST SALES</b></p>
        <div class="scroll-table">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef> From </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/routePath']" class="user link"><div class="avatar"><img src="/assets/img/avatar.png"></div> <span>{{ element.from }}</span></a> </td>
            </ng-container>

            <ng-container matColumnDef="to">
              <th mat-header-cell *matHeaderCellDef> To </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/routePath']" class="user link"><div class="avatar"><img src="/assets/img/avatar-juan.png"></div> <span>{{ element.to }}</span></a> </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="when">
              <th mat-header-cell *matHeaderCellDef> When </th>
              <td mat-cell *matCellDef="let element"> {{element.when | date}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> <img class="token" src="/assets/img/logos/icon.svg" /> <b>{{element.price}}</b> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">No Results</td>
            </tr>
          </table>
        </div>
      </div>


    </div>

  </div>
</div>
