<div class="item-detail-page intro-component-animation">

  <div class="container">
    <div class="column-left">
      <a [routerLink]="['/marketplace']" mat-icon-button matTooltip="Back"><mat-icon>arrow_back</mat-icon></a>
    </div>

    <div class="column-right">
      <header>
        <div class="image-container">
          <!-- Item Wearable Image -->
          <!-- Poner Model viewer para que se adapte -->
          <img *ngIf="true" src="https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image - " onerror="this.src='/assets/img/image-not-found.svg';" />
          <!-- Item Name -->
          <span *ngIf="false">COCOPark</span>
          <!-- Item Land -->
          <img *ngIf="false" src="/assets/img/parcels.png" style="object-fit: cover; height: 100%;" />
        </div>
      </header>

      <section>
        <div class="row">
          <h1>JEWELS Power75</h1>
          <h2><img src="/assets/img/logos/icon.svg" alt="$Cloud" /> 54</h2>
        </div>

        <div class="tags">
          <div class="rarity tag">
            <span class="mythic item-center">MYTHIC</span>
          </div>

          <div class="category tag" matTooltip="Uppderbody">
            <mat-icon>checkroom</mat-icon>
          </div>

          <div class="genre tag" matTooltip="Female">
            <mat-icon>female</mat-icon>
          </div>

          <!-- Only Land -->
          <div class="lands tag" mat-button>212 LAND</div>
          <button class="coordinates tag" mat-button><mat-icon>location_on</mat-icon> -48,-78</button>
          <button class="btn-jump tag" mat-flat-button color="primary">JUMP IN <mat-icon>exit_to_app</mat-icon></button>
          <!-- Only Land -->
        </div>

        <div class="row texts">
          <div class="left">
            <mat-list>
              <mat-list-item>
                <div mat-line>Description</div>
                <div mat-line>Two Golden Orange Bracelets</div>
              </mat-list-item>
              <mat-list-item *ngIf="false">
                <mat-icon mat-list-icon>home</mat-icon>
                <div mat-line>Plaza</div>
                <div mat-line>2 Parcels Away</div>
              </mat-list-item>
              <mat-list-item *ngIf="false">
                <mat-icon mat-list-icon>home</mat-icon>
                <div mat-line>ROAD</div>
                <div mat-line>5 Parcels Away</div>
              </mat-list-item>
              <mat-list-item *ngIf="false">
                <mat-icon mat-list-icon>home</mat-icon>
                <div mat-line>DISTRIC</div>
                <div mat-line>Adjacent</div>
              </mat-list-item>
              <mat-list-item>
                <div mat-line>Price</div>
                <div mat-line>56 $CLOUD</div>
              </mat-list-item>
              <mat-list-item >
                <img mat-list-icon src="/assets/img/avatar.png" />
                <div mat-line>Creator</div>
                <div mat-line><a [routerLink]="['/routePath']" class="link hover-linear">SHAWNDA0505LYDS</a></div>
              </mat-list-item>
              <mat-list-item>
                <div mat-line>Stock</div>
                <div mat-line>100/100</div>
              </mat-list-item>
              <mat-list-item>
                <img mat-list-icon src="/assets/img/collection-icon.png" />
                <div mat-line>Collection</div>
                <div mat-line>Bracelets Paradice</div>
              </mat-list-item>
              <mat-list-item>
                <div mat-line>Expires in 10 days</div>
              </mat-list-item>
            </mat-list>
          </div>

          <div class="right">
            <button mat-flat-button>BID</button>
            <button mat-flat-button color="primary">BUY</button>
          </div>
        </div>

        <!-- Only Land Estate -->
        <div class="parcels">
          <p>PARCELS</p>
          <button mat-button *ngFor="let parcel of parcels"><mat-icon>location_on</mat-icon> -150,17</button>
        </div>
        <!-- Only Land Estate -->

        <div class="latest-sales">
          <p style="margin-bottom: 0;">LATEST SALES</p>
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef> From </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/routePath']" class="user link"><div class="avatar"><img src="/assets/img/avatar.png"></div> <span>{{ element.from }}</span></a> </td>
            </ng-container>

            <ng-container matColumnDef="to">
              <th mat-header-cell *matHeaderCellDef> To </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/routePath']" class="user link"><div class="avatar"><img src="/assets/img/avatar-juan.png"></div> <span>{{ element.to }}</span></a> </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="when">
              <th mat-header-cell *matHeaderCellDef> When </th>
              <td mat-cell *matCellDef="let element"> {{element.when | date}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> <img class="token" src="/assets/img/logos/icon.svg" /> <b>{{element.price}}</b> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">No Results</td>
            </tr>
          </table>
        </div>

        <div class="bids">
          <p style="margin-bottom: 0;">BIDS</p>
          <table mat-table [dataSource]="dataSource2">

            <ng-container matColumnDef="from">
              <th mat-header-cell *matHeaderCellDef> From </th>
              <td mat-cell *matCellDef="let element"> <a [routerLink]="['/routePath']" class="user link"><div class="avatar"><img src="/assets/img/avatar.png"></div> <span>{{ element.from }}</span></a> </td>
            </ng-container>

            <ng-container matColumnDef="timeleft">
              <th mat-header-cell *matHeaderCellDef> Time left </th>
              <td mat-cell *matCellDef="let element"> {{element.timeleft}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> <img class="token" src="/assets/img/logos/icon.svg" /> <b>{{element.price}}</b> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">No Results</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
