<a [routerLink]="['/dao/proposals/proposal-detail']" class="proposal-card box component-animation animated">

  <button *ngIf="isImportant" mat-icon-button class="btn-watchlist animated" (click)="addWatchlist = !addWatchlist; $event.stopPropagation();" [ngClass]="{'btn-watchlist-active': addWatchlist}" matTooltip="Add / Remove Watchlist">
    <mat-icon>bookmark</mat-icon>
  </button>

  <h3 class="title">{{ title }}</h3>

  <p class="description">{{ description }}</p>

  <div class="current-result">
    <p><small>CURRENT RESULT</small></p>
    <div *ngIf="showCurrentResult == 0" class="item">
      <div class="row">
        <p><small><b>Yay</b></small></p>
        <p><small><b>96%</b></small></p>
      </div>
      <mat-progress-bar mode="determinate" value="40" color="primary"></mat-progress-bar>
      <p><small><b>82,531 VP</b> <span>&nbsp; (7 votes)</span></small></p>
    </div>
    <div *ngIf="showCurrentResult == 1" class="item">
      <div class="row">
        <p><small><b>Nay</b></small></p>
        <p><small><b>96%</b></small></p>
      </div>
      <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
      <p><small><b>82,531 VP</b> <span>&nbsp; (7 votes)</span></small></p>
    </div>
  </div>

  <div class="row">
    <div *ngIf="!isEnded" class="timeframe">
      ENDS IN
      {{ timeframe }}
      DAY<span *ngIf="timeframe > 1">S</span>
    </div>

    <div *ngIf="isEnded" class="timeframe ended">
      Ended {{ timeframe | date }}
    </div>

    <div class="category">
      <div *ngIf="category == 0" class="chip chip-catalyst">CATALYST</div>
      <div *ngIf="category == 1" class="chip chip-poi">POI</div>
      <div *ngIf="category == 2" class="chip chip-nameban">NAME BAN</div>
      <div *ngIf="category == 3" class="chip chip-grant">GRANT</div>
      <div *ngIf="category == 4" class="chip chip-preproposal">PRE-PROPOSAL</div>
      <div *ngIf="category == 5" class="chip chip-draft">DRAFT</div>
      <div *ngIf="category == 6" class="chip chip-governance">GOVERNANCE</div>
    </div>

    <div class="status">
      <div *ngIf="status == 0" class="chip chip-active">ACTIVE</div>
      <div *ngIf="status == 1" class="chip chip-finished">FINISHED</div>
      <div *ngIf="status == 2" class="chip chip-rejected">REJECTED</div>
      <div *ngIf="status == 3" class="chip chip-passed">PASSED</div>
      <div *ngIf="status == 4" class="chip chip-enacted">ENACTED</div>
    </div>
  </div>

</a>
