@import "../../../../../assets/styles/vars";

.main-page{

  header{
    padding: 3em 0;
    text-align: center;
    p{
      font-size: 1.25em;
    }
  }

  section{
    margin-bottom: 3em;

    .row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1em;

      h3{
        font-size: 1.5em;
        font-weight: 600;
      }

      a{
        font-size: 1em;
      }
    }

    .layout{
      display: flex;
      flex-wrap: wrap;
      gap: 2em;

      .card{
        min-width: 240px;
        width: 240px;
        margin-right: 1em;
      }
    }
  }
}
