/* @font-face {
    font-family: 'Aristotelica Pro Display Trial';
    src: url('/assets/fonts/AristotelicaProDisplayTrial-Light.woff2') format('woff2'),
        url('/assets/fonts/AristotelicaProDisplayTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Aristotelica Pro Display Trial';
    src: url('/assets/fonts/AristotelicaProDisplayTrial-Heavy.woff2') format('woff2'),
        url('/assets/fonts/AristotelicaProDisplayTrial-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Aristotelica Pro Display Trial';
    src: url('/assets/fonts/AristotelicaProDisplayTrial-Thin.woff2') format('woff2'),
        url('/assets/fonts/AristotelicaProDisplayTrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Aristotelica Pro Display Trial';
    src: url('/assets/fonts/AristotelicaProDisplayTrial-Extralight.woff2') format('woff2'),
        url('/assets/fonts/AristotelicaProDisplayTrial-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Aristotelica Pro Display Trial';
    src: url('/assets/fonts/AristotelicaProDisplayTrial-Bold.woff2') format('woff2'),
        url('/assets/fonts/AristotelicaProDisplayTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Aristotelica Pro Display Trial';
    src: url('/assets/fonts/AristotelicaProDisplayTrial-Demibold.woff2') format('woff2'),
        url('/assets/fonts/AristotelicaProDisplayTrial-Demibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Aristotelica Pro Display Trial';
    src: url('/assets/fonts/AristotelicaProDisplayTrial-Regular.woff2') format('woff2'),
        url('/assets/fonts/AristotelicaProDisplayTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
