@import "./vars";

.mat-dialog-title{
  display: flex;
  align-items: center;
  h3{
    margin: 0;
    margin-right: auto;
  }
}

.mat-dialog-actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button{
    margin-left: 0.5em;
  }
}

.modal-full-width-mobile {
  @include xs {
    width: 100% !important;
    max-width: 100vw !important;
    height: 100%;
  }
  mat-dialog-container {
    border-radius: 8px;
    @include xs {
      border-radius: 0;
    }
  }
}

.menu-modal-container{
  width: 100% !important;
  max-width: 100% !important;
  height: 100vh !important;
  min-height: 600px;

  mat-dialog-container{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden;
    background: transparent !important;
  }
}

.modal-create-name{
  @include xs{
    max-width: 100% !important;
    height: 100%;
  }
  mat-dialog-container{
    padding: 0;
  }
}

.menu-token-balance{
  width: 350px !important;
  max-width: 100% !important;
  a{
    text-decoration: none;
    font-size: 0.9em;
    line-height: 1.5;
    white-space: normal;
    width: 100%;
    border-radius: 0;

    .left{
      text-align: left;
    }
    .right{
      text-align: right;
    }

    .mat-button-wrapper{
      display: flex;
      justify-content: space-between;
      gap: 0.5em;
      padding: 1em 0;

      p{
        margin: 0;
      }

      .color-primary{
        font-size: 0.9em;
        opacity: 0;
      }
    }

    &:hover{
      .color-primary{
        opacity: 1;
      }
    }
  }
}
