@import "../../../../../assets/styles/vars";

.create-scene-modal {
  padding: 1em 3em;

  h4 {
    margin-top: 0;
  }

  .buttons {
    margin-top: 2em;
    display: flex;
    gap: 1em;

    button {
      width: 50%;
      height: 46px;
    }
  }
}
